body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    background: #e2e1e0;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}


@media (min-width:992px) {
    .grid-main {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }
    .grid-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }
    .grid-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }
    .grid-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }
    .grid-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .grid-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
    .grid-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }
    .grid-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .grid-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }
    .grid-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }
    .grid-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }
    .grid-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }
    .grid-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }
    .grid-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }


    /* Offset gridlocks  */
    .gridlock-0 {
        margin-left: 0
    }
    .gridlock-1 {
        margin-left: 8.333333%
    }
    .gridlock-2 {
        margin-left: 16.666667%
    }
    .gridlock-3 {
        margin-left: 25%
    }
    .gridlock-4 {
        margin-left: 33.333333%
    }
    .gridlock-5 {
        margin-left: 41.666667%
    }
    .gridlock-6 {
        margin-left: 50%
    }
    .gridlock-7 {
        margin-left: 58.333333%
    }
    .gridlock-8 {
        margin-left: 66.666667%
    }
    .gridlock-9 {
        margin-left: 75%
    }
    .gridlock-10 {
        margin-left: 83.333333%
    }
    .gridlock-11 {
        margin-left: 91.666667%
    }
}

/*------------------------------End of grid system*-------------------------/


/*Top Header*/

.panel {
    width: 100%;
    background-color: white;
}

.user-area,
.time-area,
.log-off {
    color: #F2700F;
}

.user-area {
    text-align: center;
}

.time-area {
    font-size: 2rem;
    text-align: center;
}

.log-off {
    text-align: center;
}

.info-inline {
    margin-top: 0.2em;
}

.native-icon {
    padding: 5px;
}

.flat-paper {
    background: #fff;
    border-radius: 5px;
    margin: 10px 5px 10px 5px;
    height: 43.5rem;
    text-align: center;
    ;

}

/*----------------------End of Header Element------------------------------*/

.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out,
}


.btn-main {
    color: #F2700F;
    background-color: white;
    border-color: #FF6100;
    width: 90%;
}

/*Accordion*/

.accordion {
    margin: auto;
    width: auto;
}

.accordion input {
    display: none;
}

.box {
    position: relative;
    background: white;
    height: 50px;
    transition: all .15s ease-in-out;
}

.box::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
}

header.box {
    background: #F2700F;
    z-index: 100;
    cursor: initial;
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px -2px rgba(0, 0, 0, .12), 0 2px 4px -4px rgba(0, 0, 0, .24);
}

header .box-title {
    margin: 0;
    font-weight: normal;
    font-size: 16pt;
    color: white;
    cursor: initial;
}

.box-title {
    width: calc(100% - 40px);
    height: 64px;
    line-height: 50px;
    padding: 0 20px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    user-select: none;
    color: #F2700F;
}


.box-content {
    width: calc(100% - 40px);
    padding: 10px;
    font-size: 11pt;
    color: rgba(0, 0, 0, .54);
    display: none;
}

.box-close {
    position: absolute;
    height: 64px;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

input:checked + .box {
    height: auto;
    margin: 16px 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, .16), 0 6px 12px rgba(0, 0, 0, .32);
}

input:checked + .box .box-title {
    border-bottom: 1px solid rgba(0, 0, 0, .18);
}

input:checked + .box .box-content,
input:checked + .box .box-close {
    display: inline-block;
}

.arrows section .box-title {
    padding-left: 44px;
    width: calc(100% - 64px);
}

.arrows section .box-title:before {
    position: absolute;
    display: block;
    content: '\203a';
    font-size: 18pt;
    left: 20px;
    top: -2px;
    transition: transform .15s ease-in-out;
    color: rgba(0, 0, 0, .54);
}

input:checked + section.box .box-title:before {
    transform: rotate(90deg);
}



/*price list items*/

.list-container {

    color: grey;
    border-bottom: 1px dotted #F2700F;
    font-size: 1vw;
    cursor: pointer;

}

.list-item {
    text-align: left;
}

.list-price {
    text-align: right;
}



/* popup -box*/

.popup {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: rgba(0, 0, 0, .9);
    transition: opacity .25s ease;
    z-index: 1000;
}

.popup__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.popup-state {
    display: none;
}

.popup-state:checked + .popup {
    opacity: 1;
    visibility: visible;
}

.popup-state:checked + .popup .popup__inner {
    top: 0;
}

.popup__inner {
    transition: top .25s ease;
    position: absolute;
    top: -20%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    margin: auto;
    overflow: auto;
    background: #fff;
    border-radius: 5px;
    padding: 1em 2em;
    height: 50%;
}

.popup__close {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
}

.popup__close:after,
.popup__close:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 1.5em;
    background: #ccc;
    display: block;
    transform: rotate(45deg);
    left: 50%;
    margin: -3px 0 0 -1px;
    top: 0;
}

.popup__close:hover:after,
.popup__close:hover:before {
    background: #aaa;
}

.popup__close:before {
    transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {

    .popup__inner {
        width: 90%;
        height: 90%;
        box-sizing: border-box;
    }
}


/*Sticker bar*/

.sticker-bar {
    margin: 10px;
    border: 1px solid #F2700F;
    border-radius: 3px;
}

.sticker-bar {
    cursor: pointer;
}

.actions {
    font-size: 2rem;
    padding: 5px;
}

.actions:hover {
    cursor: pointer;
}

.sticker-text {
    height: 2rem;
}

.vertical {
    vertical-align: middle;
}

.action-bar {
    color: #F2700F;


}

.card-list-item,
.card-list-price {
    top: 0;
    bottom: 0;
    vertical-align: middle;
    padding: 10px;
    color: grey;
}

/*Price area and checkout*/

.checkout-list {
    height: 30rem;
}

.total-area {

    bottom: 0;
    width: 100%;
    height: 13.55rem;
    background-color: lightgray;

}
